.icc_header--wrapper {
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 999;
        transition: all 0.3s ease;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
        transform: translateY(0);
    }

    .icc_header--inner {
        border-bottom: 1px solid #0033661A;

        &.fixed {
            position: fixed;
            top: 0;
            width: 100%;
            background: $white;
            z-index: 99;
        }

        .icc_header--flex {
            justify-content: space-between;
            padding: 15px 0;
            align-items: center;

            .navlinks {
                display: flex;
                gap: 4px;

                li {
                    position: relative;
                    padding: 6px 14px;
                    border-radius: 35px;
                    // display: flex;
                    // align-items: center;

                    &.active {
                        background: #0033661A;

                        a {
                            color: $primary-color;
                        }
                    }

                    &:hover {
                        background: #F6F6F6;
                        padding: 6px 14px;
                        border-radius: 35px;

                        a {
                            color: #2C3636;
                        }

                        .icc_subMenu--wrapper {
                            display: block;
                            z-index: 9;
                        }

                        &.icc_subMenu {
                            a {
                                &::after {
                                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0166 4.5917L3.1001 5.5082L7.0001 9.4082L10.9001 5.5082L9.9836 4.5917L7.0001 7.5687L4.0166 4.5917Z' fill='%23003366'/%3E%3C/svg%3E%0A");
                                }
                            }
                        }
                    }

                    &.icc_subMenu {
                        a {
                            padding-right: 18px;

                            &::after {
                                content: "";
                                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0166 4.5917L3.1001 5.5082L7.0001 9.4082L10.9001 5.5082L9.9836 4.5917L7.0001 7.5687L4.0166 4.5917Z' fill='%232C3636'/%3E%3C/svg%3E%0A");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 14px;
                                height: 14px;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 0;
                            }
                        }
                    }

                    a {
                        @include text($text-color, 13px, 20px, 500);
                        transition: $transition;
                        position: relative;
                        display: block;
                    }

                    .icc_subMenu--wrapper {
                        display: none;
                        border: 2px solid #00336666;
                        background: $white;
                        position: absolute;
                        min-width: max-content;
                        padding: 16px 16px;
                        border-radius: 12px;
                        top: 32px;
                        z-index: 1;
                        box-shadow: 0px 15px 15px 0px #54626F14;

                        .icc_subMenu-title {
                            @include text($primary-color, 14px, 30px, 500);
                            // margin-bottom: 10px;
                            padding: 8px 14px;
                        }

                        ul {
                            li {
                                margin-bottom: 0;
                                padding: 8px 14px;
                                border-radius: 8px;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                &:hover {
                                    padding: 8px 14px;
                                    border-radius: 8px;
                                }

                                a {
                                    padding-right: 0;
                                    @include text($dark-color,
                                        13px,
                                        19.5px,
                                        500);

                                    &::after {
                                        content: unset;

                                    }

                                }
                            }
                        }
                    }
                }
            }

            .icc_logo {
                // width: calc(100% / 3);
                text-align: center;

                a {
                    display: flex;
                    gap: 12px;
                    font-size: 26px;
                    font-weight: 700;
                    color: #003366;

                    img {
                        transform: rotateY(180deg)
                    }

                    span {
                        color: #111111;
                    }
                }
            }

        }
    }
}

.icc_mobileToggle {
    display: none;

    a {
        width: 30px;
        height: 25px;
        position: relative;
        top: 5px;
        right: 5px;

        span {
            width: 30px;
            height: 2px;
            border-radius: 40px;
            position: absolute;
            background: $primary-color;
            top: 0;
            transition: $transition;

            &:nth-child(2) {
                top: 8px;
            }

            &:last-child {
                top: 16px;
            }
        }
    }
}

.mobile-show {
    display: none;
}

// responsive css start here
@media only screen and (max-width: 1600px) {
    .icc_header--wrapper {
        .icc_topHeader--strip {
            .icc_strip--flex {
                padding: 10px 0;
            }
        }

        .icc_header--inner {
            .icc_header--flex {
                padding: 12px 0;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {}


@media only screen and (max-width: 1024px) {
    .icc_header--wrapper {
        .icc_topHeader--strip {
            .icc_strip--flex {
                padding: 7px 0;

                li {
                    gap: 7px;
                }
            }
        }

        .icc_header--inner {

            .icc_header--flex {
                .icc_logo {
                    text-align: left;
                }

                .navlinks {
                    display: none;

                    &.active {
                        display: block;
                        position: absolute;
                        height: 100vh;
                        background: $white;
                        left: 0;
                        min-width: 260px;
                        top: 0;
                        z-index: 11;
                        padding: 30px 15px 15px;

                        li {
                            margin-bottom: 20px;

                        }
                    }

                    li {
                        &:hover {
                            .icc_subMenu--wrapper {
                                display: unset;
                            }
                        }

                        &.icc_subMenu {
                            &.active {
                                a {
                                    &::after {
                                        transform: rotate(-180deg) translateY(50%);
                                    }
                                }

                                .icc_subMenu--wrapper {
                                    display: block;
                                }
                            }
                        }

                        .icc_subMenu--wrapper {

                            // &.active{
                            //     display: block !important;
                            // }
                            width: auto;
                            max-width: 100%;
                            min-width: auto;
                            border: 0;
                            background: #F6F6F6;
                            height: auto;
                            overflow-y: scroll;
                            left: 0;
                            padding: 12px 12px;

                            .icc_subMenu-title {
                                padding: 6px 6px;
                            }

                            ul {
                                li {
                                    padding: 6px 6px;

                                    a {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }

                .navicons {
                    display: none !important;
                }
            }
        }
    }

    .icc_mobileToggle {
        display: flex;
        justify-content: end;

        &.active {
            a {
                span {
                    transform: rotate(45deg);
                    top: 10px;

                    &:last-child {
                        transform: rotate(135deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }

    .mobile-show {
        display: block;
    }
}