$white: #fff;
$black: #000;
$primary-color: #003366;
$secondary-color: #FCD96B;
$text-color: #233333;
$dark-color: #2C3636;
$font-family: "Poppins";
$transition: all 0.3s ease;
$text-color-card: #212931;
$secondary-bg: linear-gradient(0deg, rgba(0, 51, 102, 0.04), rgba(0, 51, 102, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF);